.navbar-div{
  display: flex;
  padding-top: 12px;
  padding-left: 23px;
  padding-bottom: 12px;
  color: #E6EEF7;
  

}
.connect-div{
  position: absolute;
  top: 6px;
  right: 12px;
}
/* .logo-div{
  position: absolute;
  top:6px;
  left: 12px;

} */

.top-div-container{
  background-color: black;
}

.router-links{
  display: inline-flex;
  color: white;
  
}
.router-link{
  color: white;
  padding-right: 15px;
  text-decoration: none;
  list-style-type: none;

}

.thumbnail{
  max-height: 200px;
  max-width: 200px;
}

.create-container{
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 30px;
}
.create-show-inputs{

}




.create-show-div{
  padding-top: 25px;
}
.create-show-container{
  display: flexbox;
}
.create-form{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 23px;
}

.border-radius-outline{
  border: 1px solid #E6EEF7;
  box-shadow: 1px 1px 6px 3px #E6EEF7;
}

.show-card{
  max-width: 30%;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-container{
  padding-top: 50px;
  padding-left: 25px;
}

.footer-tm{
  text-align: center;
  font-size: 12px;
  padding-top: 0;
}
.footer-container{
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: auto;
  width: 100%;
}