.navbar-div{
  display: flex;
  padding-top: 12px;
  padding-left: 23px;
  padding-bottom: 12px;
  color: #E6EEF7;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  

}
.connect-div{
  position: absolute;
  top: 6px;
  right: 12px;
}
/* .logo-div{
  position: absolute;
  top:6px;
  left: 12px;

} */

.top-div-container{
  background-color: black;
}

.router-links{
  display: inline-flex;
  color: white;
  
}
.router-link{
  color: white;
  padding-right: 15px;
  text-decoration: none;
  list-style-type: none;

}
.router-link-bottom{
  padding-right: 15px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.thumbnail{
  max-height: 200px;
  max-width: 200px;
}

.create-container{
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 30px;
}
.create-show-inputs{

}




.create-show-div{
  padding-top: 25px;
}
.create-show-container{
  display: flexbox;
  background-color: whitesmoke;

}
.create-form{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 23px;
  
}

.border-radius-outline{
  border: 1px solid #E6EEF7;
  box-shadow: 1px 1px 6px 3px #E6EEF7;
}

.show-card{
  max-width: 30%;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 3px;
  background-color: whitesmoke;
}

.home-container{
  padding-top: 50px;
  padding-left: 25px;
}

.footer-tm{
  text-align: center;
  font-size: 12px;
  padding-top: 0;
}
.footer-container{
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: auto;
  width: 100%;
  background: rgb(130,130,130);
  background: linear-gradient(29deg, rgba(130,130,130,1) 0%, rgba(255,255,255,1) 31%);

}

.home-page-link{
  color: white;
  text-decoration: none;

}


.home-page-btn {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.home-page-btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.home-page-btn:active {
	position:relative;
	top:1px;
}

.create-home-div{
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: white;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.create-home-div{
  text-align: center;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: auto;
  width: 95%;
}

.about-us-div{
  text-align: center;
  line-height: 35px;
  padding-top: 12px;
  padding-bottom: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: auto;
  width: 95%;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);


}

.about-us-list{
  list-style: none;

}
.contact-us-div{
  text-align: center;
}
.contact-us-heading{
  font-style: italic;
}
.homepage-upcoming-events{
  padding-bottom: 25px;
}

.view-shows-div{
  padding-bottom: 25px;
}

.spacing-div{
  width: 80%;
  height: 20vh;
}
.smaller-spacing-div{
  width: 80%;
  height: 10vh;
}

.instruction-div{
  line-height: 30px;

}
.instruction-header-div{
  text-align: center;
}
.instructions-header{
  font-family: cursive;
  font-size: 2.5rem;

}

.instruct-div{
  background-color: whitesmoke;
}
