.navbar-div{
  display: flex;
  float: right;
  padding-right: 25px;
  padding-top: 12px;;
}
.router-links{
  display: inline-flex;
  
}
.router-link{
  padding-right: 15px;
  text-decoration: none;
  list-style-type: none;
}

.thumbnail{
  max-height: 250px;
  max-width: 250px;
}

.create-container{
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 30px;
}
.create-show-inputs{

}

.logo-div{
  display: flex;
  float: left;
  padding-left: 25px;
  padding-top: 12px;;
  padding-bottom: 25px;
}
.create-show-div{
  padding-top: 25px;
}
.create-show-container{
  display: flexbox;
}
.create-form{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.border-radius-outline{
  border: 1px solid #E6EEF7;
  box-shadow: 1px 1px 6px 3px #E6EEF7;
}

.show-card{
  max-width: 25%;
}